gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks

# Firebase Configuration
google-services.json

# Build artifacts
.gradle
build/
local.properties
*.iml

# Sensitive Configuration Files
*.properties
local.*.properties
